@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar custom */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #212120;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
